@font-face {
    font-family: 'Harmond-ExtBdItaExtExp';
    src: url(fonts/Harmond-ExtBdItaExp.otf);
}

body {


}


.title {
    font-family: 'Harmond-ExtBdItaExtExp' ,sans-serif;
    font-size: 2em;
    color: #0000;
}

.hand {
    cursor: pointer
}


.closebutton {
 background-image: url(./images/Sprite-0002.png);
    background-size: cover;
    width: 34px;
    height: 32px;
    float: left;
    cursor: pointer;
}


.window {
  border: solid;
  display: flex;
  flex-direction: column;
  position: absolute;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.125);
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-top: 8px;
}

.headertext {
  margin: 0px;
  color: #fff;
  font-weight: 500
}